<!DOCTYPE html>
<html lang="ru">
<head>
    {% block head %}
        {#        <!-- Required meta tags -->#}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {#        <!-- Bootstrap CSS -->#}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">
        <link rel="stylesheet" href="../../css/custom.css" type="text/css"/>


        <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>


<body>
<div class="bodyWrapper ">
    <div class="main__container">

        {% block header %}
            <div id="header" class="main_header">

                <nav class="navbar navbar-expand-lg fixed-top navbar-light">
                    <a class="navbar-brand" href="/">Calc-HVAC</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse " id="navbarSupportedContent">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link " href="easyfloorcalc">Калькулятор теплого пола</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>

            <div class="forBorder border-bottom"></div> {#горизонтальная черта, обрамляющая хэдер#}

        {% endblock %}

        <div id="content">{% block content %}{% endblock %}</div>

    </div>

    {% block footer %}


        <div id="footer" class="fixed-bottom footer__upper-border">
            <nav class="navbar navbar-expand-lg fixed-bottom navbar-light">
                <div class="collapse navbar-collapse " id="">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Инженерные калькуляторы для хоумис</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/deploy/">Deploy</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    {% endblock %}

</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <div id="content_js">{% block content_js %}{% endblock %}</div>


</body>
</html>