{% extends "Templates/base.html.twig" %}

{% block title %}Калькулятор теплого пола. Обновление{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <div class="wrapper container mt-4 ">
        <h1 class="m-4">Обновление</h1>
        <div class="container rounded-top">
            <div class="row">
                <div class="col-lg-6 col-sm-12 pr-4 mb-3">
                    <form action="" method="post">
                        <button name="do" value="1">Обновить</button>
                    </form>
                </div>
                {% if updated %}
                    <div class="col-lg-6 col-sm-12 pr-4 mb-3">
                        {% if error %}
                            <h4>Error</h4>
                        {% endif %}
                        <pre {{ error ? 'style="color: red"' }}>{{ updateInfo }}</pre>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
