{% extends "Templates/base.html.twig" %}

{% block title %}Калькулятор теплого пола. Главная страница{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}

    <div class="wrapper container mt-4 ">
        <h1 class="m-4">Главная страница</h1>
        <div class="container rounded-top">
            <div class="row">

                <div class="col-lg-6 col-sm-12 pr-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Калькулятор тёплого пола</h5>
                            <h6 class="card-subtitle mb-2 text-muted">рассчитай свой пол</h6>
                            <p class="card-text">Калькулятор расчета теплых полов</p>
                            <a href="easyfloorcalc" class="card-link">Рассчитать</a>
{#                            <a href="#" class="card-link">Рассчитать</a>#}
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-sm-12 pr-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Калькулятор тёплого пола ещё разок!</h5>
                            <h6 class="card-subtitle mb-2 text-muted">узнай насколько твой пол тёплый</h6>
                            <p class="card-text">Теплых полов расчета калькулятор (то же самое)</p>
                            <a href="easyfloorcalc" class="card-link">Рассчитать</a>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>

{% endblock %}
