{% extends "Templates/Main/layout.html.twig" %}

{% block title %}Калькулятор тёплого пола{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}

    <div class="wrapper container mt-4 ">
        <div class="container ">

            <h1>Расчёт параметров тёплого пола</h1>
            <div>Заполните исходные данные<br/><br/></div>
            <h3>Общие данные</h3>

            <form method="get" class="form-group py-3" id="formFloorCalc">

                <div class="row row_form">
                    <div class="col-md-6 container">
                        <div class="form-group mb-1">
                            <label for="exampleInputName2" class="mr-2">Принимаемая температура теплоносителя</label>
                            <div class="input-group mb-1 input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Т<sub>тн</sub></span>
                                </div>
                                <input type="number" class="form-control form-control-sm" value="40"
                                       name="tempHeatCarrier">
                                <div class="input-group-append">
                                    <span class="input-group-text mr-3" id="basic-addon2"><sup>º</sup>С</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 container">
                        <div class="form-group mb-1">
                            <label for="exampleInputName2" class="mr-2">Площадь контура теплого пола</label>
                            <div class="input-group mb-1 input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">S</span>
                                </div>
                                <input type="number" class="form-control form-control-sm" value="40" name="sizeOfFloor"
                                       step="0.1">
                                <div class="input-group-append">
                                    <span class="input-group-text mr-3" id="basic-addon2">м.кв.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row row_form ">
                    <div class="col-md-6 container">
                        <div class="form-group mb-1">
                            <label for="exampleInputName2" class="mr-2">Температура воздуха в рассчитываемом
                                помещении</label>
                            <div class="input-group mb-1 input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Т<sub>в</sub></span>
                                </div>
                                <input type="number" class="form-control form-control-sm" value="22"
                                       name="tempInnerRoom">
                                <div class="input-group-append">
                                <span class="input-group-text mr-3 form-control-sm"
                                      id="basic-addon2"><sup>º</sup>С</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 container">
                        <div class="form-group mb-1">
                            <label for="exampleInputName2" class="mr-2">Температура воздуха в нижележащем
                                помещении</label>
                            <div class="input-group mb-1 input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Т<sub>н</sub></span>
                                </div>
                                <input type="number" class="form-control form-control-sm" value="-25"
                                       name="tempLowerRoom">
                                <div class="input-group-append">
                                    <span class="input-group-text mr-3" id="basic-addon2"><sup>º</sup>С</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row row_form">

                    <div class="col-md-6 container">
                        <div class="form-group mb-1">

                            <label for="exampleInputName2" class="my-1 mr-2">Материал труб</label>

                            <div class="input-group mb-1 input-group-sm input-group_align-items-center">
                                <select id="materialSelects" class="custom-select mr-3" name="materialSelects">
                                    <option value="PEX">Сшитый полиэтилен (λ = 0.35 Вт/м К)</option>
                                    <option value="mePl">Металлопластик (λ = 0.43 Вт/м К)</option>
                                    <option value="PPR">Полипропилен (λ = 0.24 Вт/м К)</option>
                                    <option value="cop">Медь (λ = 324 Вт/м К)</option>
                                </select>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-6 container">
                        <div class="form-group mb-1">

                            <label for="exampleInputName2" class="my-1 mr-2">Размер труб</label>

                            <div id="pipeSelects"
                                 class="input-group mb-1 input-group-sm input-group_align-items-center">
                                <div class="input-group-prepend">
                                    <span class="input-group-text input-group-text_with-selection">d</span>
                                </div>
                                <select class="custom-select" id="PEX" name="pipesSize[PEX]">
                                    <option value="PEX16x2">Сшитый полиэтилен 16x2</option>
                                    <option value="PEX14x1">Сшитый полиэтилен 14x1</option>
                                    <option value="PEX12x1">Сшитый полиэтилен 12x1</option>
                                </select>
                                <select class="custom-select" id="mePl" name="pipesSize[mePl]"
                                        style="display: none">
                                    <option value="mePl14x1">Металлопластик 14x1</option>
                                    <option value="mePl12x1">Металлопластик 12x1</option>
                                </select>
                                <select class="custom-select" id="PPR" name="pipesSize[PPR]"
                                        style="display: none">
                                    <option value="PPR14x1">Полипропилен 14x1</option>
                                    <option value="PPR12x1">Полипропилен 12x1</option>
                                </select>
                                <select class="custom-select" id="cop" name="pipesSize[cop]"
                                        style="display: none">
                                    <option value="cop14x1">Медь 14x1</option>
                                    <option value="cop12x1">Медь 12x1</option>
                                </select>
                                <div class="input-group-append">
                                    <span class="input-group-text input-group-text_with-selection mr-3"
                                          id="basic-addon2">мм</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row row_form">
                    <div class="col container">

                        <label for="exampleInputName2" class="my-1 mr-3">Коэффициент теплоотдачи нижележащей
                            горизонтальной поверхности
                            <sup><span data-toggle="tooltip" class='badge badge-pill badge-info'
                                       title="Коэффициенты теплоотдачи для расчета потерь тепла вниз (по таблице, которую добавлю позже))">?</span></sup>
                        </label>

                        <div class="input-group mb-1 input-group-sm input-group_align-items-center mr-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text input-group-text_with-selection">α<sub>н</sub></span>
                            </div>
                            <select class="custom-select" id="inlineFormCustomSelectPref mr-3" name="heatRatioLowerSurface">
                                <option selected>8.7</option>
                                <option value="1">7.6</option>
                                <option value="2">23</option>
                                <option value="3">17</option>
                                <option value="4">12</option>
                                <option value="5">6</option>
                            </select>
                            <div class="input-group-append mr-3">
                                <span class="input-group-text input-group-text_with-selection"
                                      id="basic-addon2">Вт/м2 K</span>
                            </div>
                        </div>
                    </div>
                </div>

                <h3 class="mt-3">Сведения о конструкции пола</h3>

                <div class="row">
                    <div class="col-6 align-self_f-end">
                        <div class="form-group mb-1">
                            <label for="exampleInputName2" class="mr-3">Принятый шаг труб (в сантиметрах)</label>
                            <div class="input-group mb-1 input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">b</span>
                                </div>
                                <input type="number" class="form-control form-control-sm" value="12" name="pipeStep"
                                       step="0.1">
                                <div class="input-group-append">
                                    <span class="input-group-text mr-3" id="basic-addon2">см</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 align-self_f-end">
                        <div class="form-group mb-1">
                            <label for="exampleInputName2" class="mr-2">Коэффициент теплоотдачи пола</label>
                            <div class="input-group mb-1 input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">α</span>
                                </div>
                                <select class="custom-select" id="inlineFormCustomSelectPref"
                                        name="floorHeatTransferRatio">
                                    <option value="11">11</option>
                                    <option value="10">10</option>
                                    <option value="12">12</option>
                                </select>
                                <div class="input-group-append">
                                    <span class="input-group-text mr-3" id="basic-addon2">Вт/м2 К</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <h4 class="mt-3">Слои над трубами</h4>
                <ol class="list-group numeric-list-default">

                    <li class="form-inline numeric-list-default form-group mb-1 row row_form form_for_layer  input-group-sm mb-3">
                        <div class="col-md-12 col-lg-2 container  input-group mb-1  input-group-sm">
                            <div class="input-group-prepend ">
                                <span class="input-group-text">s</span>
                            </div>
                            <input type="number" class="form-control form-control-sm" value="10"
                                   name="upperLayer[1][thickness]">
                            <div class="input-group-append">
                                <span class="input-group-text mr-3" id="basic-addon2">мм</span>
                            </div>
                        </div>
                        <select class="col-md-12 col-lg-6 container custom-select custom-select-min-width mb-1 max_width_98" id="inlineFormCustomSelectPref"
                                name="upperLayer[1][material]">
                            <option value="laminate" selected>λ=0.29, Ламинат</option>
                            <option value="parquet">λ=0.17, Паркет)</option>
                            <option value="tale">λ=1.05, Плитка кафельная</option>
                        </select>
                        <div class="col-md-12 col-lg-4 container input-group mb-1 input-group-sm">
                            <div class="input-group-prepend">
                                <span class="input-group-text ml-3">своё значение λ</span>
                            </div>
                            <input type="number" class="form-control form__little form-control-sm" value=""
                                   name="upperLayer[1][ratio]" step="0.001">
                            <div class="input-group-append">
                                <span class="input-group-text mr-3" id="basic-addon2">Вт/м К</span>
                            </div>
                        </div>
                        <label for="exampleInputName2" class="ml-3 sr-only">Ламинат</label>
                    </li>
                    <li class="form-inline numeric-list-default form-group mb-1 row row_form form_for_layer input-group-sm mb-3">
                        <div class="col-md-12 col-lg-2 container input-group mb-1 input-group-sm">
                            <div class="input-group-prepend">
                                <span class="input-group-text">s</span>
                            </div>
                            <input type="number" class="form-control form-control-sm" value="50"
                                   name="upperLayer[2][thickness]">
                            <div class="input-group-append">
                                <span class="input-group-text mr-3" id="basic-addon2">мм</span>
                            </div>
                        </div>
                        <select class="col-md-12 col-lg-6 container custom-select custom-select-min-width mb-1 max_width_98" id="inlineFormCustomSelectPref"
                                name="upperLayer[2][material]">
                            <option value="CPS" selected>λ=0.93, ЦПС</option>
                        </select>
                        <div class="col-md-12 col-lg-4 container input-group mb-1 input-group-sm">
                            <div class="input-group-prepend">
                                <span class="input-group-text ml-3">своё значение λ</span>
                            </div>
                            <input type="number" class="form-control form__little form-control-sm" value=""
                                   name="upperLayer[2][ratio]" step="0.001">
                            <div class="input-group-append">
                                <span class="input-group-text mr-3" id="basic-addon2">Вт/м К</span>
                            </div>
                        </div>
                        <label for="exampleInputName2" class="ml-3 sr-only">ЦПС</label>
                    </li>
                </ol>


                <h4 class="mt-3">Слои под трубами</h4>

                <ol class="list-group numeric-list-default">

                    <li class="form-inline numeric-list-default form-group mb-1 row row_form input-group-sm form_for_layer mb-3">
                            <div class="col-md-12 col-lg-2 container input-group mb-1  input-group-sm ">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">s</span>
                                </div>
                                <input type="number" class="form-control form-control-sm" value="170"
                                       name="lowerLayer[1][thickness]">
                                <div class="input-group-append">
                                    <span class="input-group-text mr-3" id="basic-addon2">мм</span>
                                </div>
                            </div>
                            <select class="col-md-12 col-lg-6 container custom-select custom-select-min-width mb-1 max_width_98"
                                    id="inlineFormCustomSelectPref" name="lowerLayer[1][material]">

                                <option value="extrudedPolystyrene">λ=0,031, Пенополистирол экструдированый</option>

                                <option value="extrudedPPS">λ=0,93, Цементно-песчаная стяжка</option>
                            </select>
                            <div class="col-md-12 col-lg-4 container input-group mb-1 input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text ml-3">своё значение λ</span>
                                </div>
                                <input type="number" class="form-control form__little form-control-sm" value=""
                                       name="lowerLayer[1][ratio]" step="0.001">
                                <div class="input-group-append">
                                    <span class="input-group-text mr-3" id="basic-addon2">Вт/м К</span>
                                </div>
                            </div>
{#                        </div>#}
                    </li>

                    <li class="form-inline numeric-list-default form-group mb-1 row row_form form_for_layer input-group-sm mb-3">
                        <div class="col-md-12 col-lg-2 input-group mb-1  input-group-sm">
                            <div class="input-group-prepend">
                                <span class="input-group-text">s</span>
                            </div>
                            <input type="number" class="form-control form-control-sm" value="25"
                                   name="lowerLayer[2][thickness]">
                            <div class="input-group-append">
                                <span class="input-group-text mr-3" id="basic-addon2">мм</span>
                            </div>
                        </div>
                        <select class="col-md-12 col-lg-6 container custom-select custom-select-min-width mb-1 max_width_98" id="inlineFormCustomSelectPref"
                                name="lowerLayer[2][material]">
                            <option value="velox">λ=0.11, Щепоцементная плита Velox</option>
                            <option value="extrudedPolystyrene">λ=0,031, Пенополистирол экструдированый</option>
                            <option value="penoplex">λ=0,032, Пеноплекс</option>
                            <option value="polystyrene100">λ=0,041, Пенополистирол плотность 100</option>
                            <option value="polystyrene150">λ=0,05, Пенополистирол плотность 150</option>
                            <option value="PPU60">λ=0,035, Пенополиуретан плотность 60</option>
                            <option value="PPU80">λ=0,035, Пенополиуретан плотность 80</option>
                        </select>
                        <div class="col-md-12 col-lg-4 container input-group mb-1 input-group-sm">
                            <div class="input-group-prepend">
                                <span class="input-group-text ml-3">своё значение λ</span>
                            </div>
                            <input type="number" class="form-control form__little form-control-sm" value=""
                                   name="lowerLayer[2][ratio]" step="0.001">
                            <div class="input-group-append">
                                <span class="input-group-text mr-3" id="basic-addon2">Вт/м К</span>
                            </div>
                        </div>
                        <label for="exampleInputName2" class="sr-only">Экструдированный пенополистирол</label>
                    </li>

                </ol>

                <div class="mb-4">
                    <div class="mt-3 form-check">
                        <input type="checkbox" class="form-check-input" id="intermediateCalculationsCheck"
                               name="intermediateCalculations">
                        <label class="form-check-label" for="intermediateCalculationsCheck">Отобразить промежуточные
                            расчеты</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="extraSneakscheck" name="extraCalculation">
                        <label class="form-check-label" for="extraSneakscheck">Дополнительно посчитать площадь пола в
                            квадратных удавах</label>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary btn-lg btn-block text-uppercase mt-3" id="submitFloorCalc">
                    Рассчитать
                </button>

            </form>

            <div id="blockajax">
            </div>
        </div>
    </div>
{% endblock %}
    {% block content_js %}
        <script src="../../js/FloorCalc/floorResult.js"></script>
    {% endblock %}