<div class="alert alert-warning" role="alert">
    <h1>Ошибка</h1><br>

    {% for error in errors %}
        {% for oneError in error %}
            {{ oneError|raw }}<br>
        {% endfor %}
    {% endfor %}
</div>