<h1>Результаты расчётов:</h1>

<p>
    {#        DEBUG <pre>{{ debug }}</pre>  <br/>#}

    Тепловой поток по направлению вверх: <b>{{ heatFlowUpwardly|round(0, 'common') }} Вт/м<sup>2</sup></b><br/>
    Максимальная температура пола: <b>{{ maxFloorTemperature|round(3, 'common') }} <sup>º</sup>С</b><br/>
    Минимальная температура пола: <b>{{ minFloorTemperature|round(3, 'common') }} <sup>º</sup>С</b><br/>

    Средняя температура пола: <b>{{ averageFloorTemperature }} <sup>º</sup>С </b>
    {% if averageFloorTemperature < 31 %}
    <
    {% else %}
<span style="color: red; font-weight: 700;"> > (больше!)</span>
{% endif %}
<a href="http://docs.cntd.ru/document/1200095527#P0198" data-toggle="tooltip"
   style="border-bottom: 1px dotted black; color: black;"
   title="максимальная температура  для полов в помещениях с временным пребыванием людей по СП 60.13330.2012"><b> 31.0
        <sup>º</sup>С</b> </a>

</p>

{% if intermediateCalculationsChecked %}

    <h3>Промежуточные значения параметров</h3>
    <p>
        Суммарное термическое сопротивление слоев над трубами, Rв: <b>{{ thermalResistUpperLayer|round(3, 'common') }} м<sup>2</sup>
            К/Вт</b><br/>
        Суммарное термическое сопротивление слоев под трубами, Rв: <b>{{ thermalResistLowerLayer|round(3, 'common') }} м<sup>2</sup>
            К/Вт</b><br/>
        Приведенное термическое сопротивление слоев пола над трубами, R<sup>в</sup><sub>п</sub>:
        <b>{{ leadThermalResistUpperLayer|round(3, 'common') }} м<sup>2</sup> К/Вт</b><br/>
        Приведенное термическое сопротивление слоев пола под трубами, R<sup>н</sup><sub>п</sub>:
        <b>{{ leadThermalResistLowerLayer|round(3, 'common') }} м<sup>2</sup> К/Вт</b><br/>
        Угол между поверхностью пола и линией максимального термического сопротивления (вверх):
        <b>{{ angleBetweenFloorAndMaxThermalResistance|round(3, 'common') }} град. </b><br/>
        Максимальное термическое сопротивление слоев над трубой:
        <b>{{ maxThermalResistanceOfLayersAbovePipes|round(3, 'common') }} м<sup>2</sup> К/Вт</b> <br/>
        Отношение тепловых потоков "низ/верх": <b>{{ quotientHeatFlux|round(3, 'common') }}  </b><br/>
        Приведенное термическое сопротивление стенок трубы: <b>{{ leadThermResistanceOfPipes|round(3, 'common') }}
            м<sup>2</sup> К/Вт</b><br/>

        Тепловой поток по направлению вниз: <b>{{ downwardHeatFlow|round(3, 'common') }} Вт/м<sup>2</sup></b><br/>
        Суммарный удельный тепловой поток: <b>{{ totalSpecificHeatFlux|round(3, 'common') }} Вт/м<sup>2</sup></b><br/>
        Суммарный погонный тепловой поток: <b>{{ totalLinearHeatFlow|round(3, 'common') }} Вт/м</b><br/>


    </p>

{% endif %}

{% if extraCalculationChecked %}
    <h3>Дополнительные расчеты</h3>
    <p>
        Площадь контура теплого пола, переведённая из <i>метров квадратных</i> в <i>удавов квадратных</i>:
        <b>{{ squareInSnakes }} удав<sup>2</sup></b><br/>

    </p>

{% endif %}