body {
  height: 100% !important; }

html {
  height: 100% !important; }

.bodyWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  justify-content: space-between; }

.main__container {
  min-height: 94%; }

.nav-link, .navbar-brand {
  color: #5e6e82;
  cursor: pointer; }

.nav-link {
  margin-right: 1em !important; }

.nav-link:hover {
  background: #f4f4f4;
  color: #232e3c; }

.navbar-collapse {
  justify-content: flex-end; }

.navbar-toggler {
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: #fff; }

.navbar {
  position: relative;
  max-width: 1200px;
  width: 90%;
  margin: 0 auto; }

.forBorder, .border {
  border-bottom: 1px solid black !important; }

.border {
  border: 1px solid rgba(0, 0, 0, 0.2) !important; }

.input-group {
  flex-wrap: nowrap; }

.input-group-text {
  background-color: #e6e6e6; }

.row_form {
  align-items: flex-end; }

.input-group-text_with-selection {
  max-height: 40px; }

.numeric-list-default {
  list-style-type: decimal; }

.main_header {
  background-color: #ebebeb; }

.form-inline .form-group {
  align-items: initial; }

.form_for_layer {
  justify-content: space-between;
  align-items: flex-start; }

.footer__upper-border {
  border-top: 1px solid black; }

.fixed-bottom {
  position: initial;
  display: flex; }

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  padding-right: 0;
  padding-left: 0; }

.max_width_98 {
  max-width: 98%; }

.align-self_f-end {
  align-self: flex-end; }

/*# sourceMappingURL=custom.css.map */
